.git
.jj
.venv
.vscode
__pycache__
*.py[oc]
build
dist
wheels
*.egg-info

downloads
outputs
mlruns
unsloth_compiled_cache
adapters
lora_model
*_lora

*.db
*.zip
*.ttf
*.gguf
*.safetensors
*.pt
*.pth
*.bin
